.ativarCor {
    background-color: #F9A01B;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}
.pointer {
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}